<form [formGroup]="register" (ngSubmit)="submit()">
  <div class="container">
    <div class="form-group">
      <label for="inputName">Full name</label>
      <input type="text" name="inputName" class="form-control" id="inputName" required minlength="10"
        formControlName="fullname">

    </div>

    <div class="form-group">
      <label for="inputEmail4">Email</label>
      <input type="email" name="inputEmail4" class="form-control" id="inputEmail4" formControlName="email" required>

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword">Password</label>
        <input type="password" name="inputPassword" class="form-control" id="inputPassword" formControlName="password"
          required>

      </div>
      <div class="form-group col-md-6">
        <label for="inputRePassword">Comfirm Password</label>
        <input type="password" name="inputRePassword" class="form-control" id="inputRePassword"
          formControlName="inputRePassword" required>

      </div>
    </div>

    <div class="form-group ">
      <label>Skills</label>
      <div class="row">
        <div *ngFor="let skill of skills.controls; let i=index" class="col-md-4">
          <input type="text" class="form-control" id="inputStreets" formControlName="i" required>
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary" (click)="addSkill()">Add skill</button>
        </div>
      </div>
    </div>

    <button class="btn btn-primary">Sign in</button>
  </div>
</form>
