<form [formGroup]="register" (ngSubmit)="submit()">
  <div class="container">
    <div class="form-group">
      <label for="inputName">Full name</label>
      <input type="text" name="inputName" class="form-control" formControlName="fullname">
      <p *ngIf=""> Invalid</p>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" formControlName="email">

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="confirmPass">Password</label>
        <input type="password" name="confirmPass" class="form-control" formControlName="password">

      </div>
      <div class="form-group col-md-6">
        <label for="confirmPass">Comfirm Password</label>
        <input type="password" name="confirmPass" class="form-control" formControlName="confirmPass">

      </div>
    </div>

    <div class="form-group ">
      <label>Skills</label>
      <div class="row">
        <div *ngFor="let skill of skills.controls; let i=index" class="col-md-4">
          <input type="text" class="form-control" formControlName="i">
        </div>
        <div class="col-md-4">
          <button class="btn btn-primary" (click)="addSkill()">Add skill</button>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" [disabled]="register.invalid">Sign in</button>
  </div>
</form>
